<!DOCTYPE html>
<html>
    <head>
    <title>My First View!!</title>
    </head>
    <body>
    <% i = rand(1..6) %>
    <h<%=i%>>Hello World</h<%=i%>>
    <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    <h1><%='hello world'.split(' ')%></h1> 
    </body>
</html>